*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(81, 199, 51);
    color:black;
    text-align: center;
}
ul, ol, li {
    text-align: left;
}
div {
    text-align: left;
}
.homeheader {
    text-align: center;
}
h2 {
    text-align: left
}
div button {
    background-color:rgb(2, 116, 31);

}
button a {
    color:rgb(17, 207, 221);
    font-size: 22px
}